html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Slab', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 80px;
    color: black;
    font-weight: normal;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3, h4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
}

li {
	list-style-type: none;
}

/* Navbar */
.navbar {
	position: fixed;
	width: 100%;
	top: 0;
    Transition:all 0.3s;
	z-index: 1;
    background-color: white;
}

.nav-link {
	margin: 10px 20px;
	padding-left: 30px;
	text-align: center;
}

.logo-img {
	width: 50px;
	border-radius: 50%;
}

.upcast {
	position: relative;
	padding-top: 100px;
	padding-left: 100px;
}

.youtube {
	border-radius: 30px;
	padding: 15px 50px;
	background-color: white;
	border-width: 1px;
	text-decoration: none;
	box-shadow: 5px 10px 8px #888888;
}

.insta:hover {
	background-color: orange;
	transition: 0.3s;
}

img {
	right: 100px;
}

.container-fluid {
	padding-top: 50px;
	bottom: 50px;
}

.main {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px; 
	padding-top: 50px;
	margin-top: 150px;
}

.about {
	padding-top: 50px;
	padding-bottom: 100px;
}

.episodes {
	text-align: center;
}

.contact-us {
	text-align: center;
	position: relative;
	height: 300px;
	top: 200px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /*Could be more or less, depending on screen size*/
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.myButton {
	border-radius: 30px;
	padding: 15px 50px;
	background-color: white;
	border-width: 1px;
	text-decoration: none;
	box-shadow: 5px 10px 8px #888888;
}

.myButton:hover {
	background-color: orange;
	transition: 0.3s;
}
.myButton:active {
	position:relative;
	top:1px;
}

.bottom-container {
    position: relative;
    padding: 50px 0 20px;
    background-color: white;
    text-align: center;
    top: 150px;
}

.button-circle {
	width: 45px;
	height: 45px;
	margin: auto 10px auto 10px;
	font-size: 18px;
}

